body {
    height: auto;
    padding: 50px 0;
    background-color: #838383;
}

.container {
    margin: 0 auto;
    width: 900px;
    box-shadow: 5px 5px 20px #5d5d5d;
    background-color: #fff;
    position: relative;
}